.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-introduction {
  margin-bottom: 20px;
  font-family: 'Arial Black', sans-serif;
}

.about-additionalInfo {
  margin-bottom: 20px;
  width: 70%; 
  margin: 0 auto;
  text-align: center; 
  font-family: 'Arial Black', sans-serif;
}

.about-image-container {
  display: flex;
  justify-content: center;
}

.about-image {
  max-width: 300px;
}
