.add-product-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the form horizontally */
    font-family: 'Arial Black', sans-serif;
    
  }
  
  .form-label {
    margin-bottom: 10px;
  }
  
  .form-input,
  .form-textarea,
  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #CBD0D8; /* Border color (light gray) */
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .form-select {
    height: 36px; /* Adjust the height as needed */
  }
  
  .form-button {
    background-color: #333D51; /* Button background color (dark blue-gray) */
    color: #F4F3EA; /* Button text color (off-white) */
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
  }
  
  .form-button:hover {
    background-color: #57648C; /* Button background color on hover (medium blue-gray) */
  }
  